  <a class="accordion-toggle" data-toggle="collapse" data-target="#Numberlist">Number List</a>
  <div id="Numberlist" class="collapse out">
 <table class="table table-bordered table-striped">
 <thread>
 <tr>
 <th>Name</th>
 <th>Number</th>
 </thread>
 <tbody>
    <%@devices.each do|device| %>
    <tr>
     <td><%=device_name(device)%></td><td><%=device.msisdn%></td><td><%= link_to 'Delete', main_device_destroy_path([device.id, @group.id]),:class=>"btn btn-small btn-danger" %></td>
    </tr>
    <%end%>
    </tbody>
</table>
</div>
