 <%@user.groups.all.each do|group| %>
 <li class="span2">
 <div class="well">
        <p><strong><%=group.name%></strong></p>
        </a>
        <p>Current Policy:<br>
        <span class="label"><%=policy(group.id)%></span></p>
        <br>
        <div class="btn-group">
        <a class="btn">Change Policy</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a><%=link_to "No Policy", policy_append_to_group_path([nil, group.id])%></a></li>
          <%@user.policies.each do |policy| %>
          <li><a><%=link_to policy.name, policy_append_to_group_path([policy.id, group.id])%></a></li>
        <%end%>
        </ul>
     </div>
     </div>
   </li>
 <%end%>