 <%@user.policies.all.each do|policy| %>
<li><p><a><%=link_to policy.name, policy_edit_path(policy.id)%> <%= link_to 'Delete', policy_destroy_path(policy.id),:class=>"btn btn-small" %></a></p></li>
    <%end%>