 <table class="table table-bordered table-striped">
 <tbody>
    <%@user.policies.all.each do|policy| %>
    <tr>
     <td><%=link_to policy.name, policy_edit_path(policy.id)%></td><td><%= link_to 'Delete', policy_destroy_path(policy.id),:class=>"btn btn-small btn-danger" %></td>
    </tr>
    <%end%>
    </tbody>
</table>