<div class="btn-group">
  <a class="btn">Change Policy</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   <%@user.policies.all.each do|policy| %>
    <li><a><%=policy.name%></a></li>
  </ul>
  <%end%>
</div>