<div class="btn-group">
  <a class="btn">Change Profile</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Profile 1</a></li>
    <li><a>Profile 2</a></li>
    <li><a>Profile 3</a></li>
    <li><a>Profile 4</a></li>
  </ul>
</div>